.search-item input, 
.search-item select,
.search-item input:hover, 
.search-item select:hover {
    border: solid 2px red;
    margin: 2px;
    border-radius: 10px;
}

.search-item * {
    max-width: 90%;
}


.topnav {
  overflow: hidden;
  background-color: #2b2d42;
}

.topnav a {
  float: left;
  display: block;
  color: #e9e9f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #e9e9f5;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-grid {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}



.main-page-grid-container {
    margin-left: 4ch;
    margin-right: 4ch;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}

.anime-relations-grid {
    margin-left: 4ch;
    margin-right: 4ch;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.anime-page-info {
    margin-left: 4ch;
    margin-right: 4ch;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2rem;
}
.anime img {
    width: 100%;
    height: auto;
    border: solid 2px black;
    animation: rotate; 
    animation-duration: 1.8s; 
}

item anime:hover {
    
}

.anime {
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    
}

@media screen and (max-width: 1200px) {
    .search-grid {
        display: grid;
        grid-template: repeat(8, auto) / repeat(6, 16%);
    }

    .main-page-grid-container {
        display: grid;
        grid-template: repeat(8, auto) / repeat(6, 16%);
    }

    .item {
        border: solid 2px black;
    }
    img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .search-grid {
        display: grid;
        grid-template: repeat(8, auto) / repeat(4, 25%);
    }

    .main-page-grid-container {
        display: grid;
        grid-template: repeat(8, auto) / repeat(4, 25%);
    }

    .item {
        border: solid 2px black;
    }
    img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .search-grid {
        display: grid;
        grid-template: repeat(8, auto) / repeat(2, 50%);
    }

    .main-page-grid-container {
        display: grid;
        grid-template: repeat(8, auto) / repeat(2, 50%);
    }

    .item {
        border: solid 2px black;
    }
    img {
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 450px) {
    .search-grid {
        display: grid;
        grid-template: repeat(16, auto) / repeat(1, 100%);
    }

    .main-page-grid-container {
        display: grid;
        grid-template: repeat(16, auto) / repeat(1, 100%);
    }

    .item {
        border: solid 2px black;
    }
    img {
        width: 75%;
        height: auto;
    }
}




