{% extends 'base.html' %}
{% block content %}

{% include 'anime_search_template.html' %}

    <script>
        function getSearchInfo(replaceSearch) {
            searchAnime(replaceSearch);
        }
        
        function addToSearchBox(searchBoxId, valueToAdd) {
            document.getElementById(searchBoxId).value = valueToAdd;
            searchAnime(true);
        }
        function searchStudios() {
            var query = `
                query (
                    $page: Int,
                    $perPage: Int,
                    $search: String
                ) {
                    Page (page: $page, perPage: $perPage) {
                        pageInfo {
                            total
                            currentPage
                            lastPage
                            hasNextPage
                            perPage
                        }
                        studios (
                            search: $search
                        ) {
                            id
                            name
                        }
                    }
                }
            `;
    
            // Define our query variables and values that will be used in the query request
            console.log(document.getElementById('studio-option-search').value)
            var variables = {
                page: 1,
                perPage: 10,
                search: document.getElementById('studio-option-search').value
            };
    
            // Define the config we'll need for our Api request
            var url = 'https://graphql.anilist.co',
            options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify({
                    query: query,
                    variables: variables
                })
            };

            console.log(fetch(url, options))
    
            // Make the HTTP Api request
            fetch(url, options).then(handleResponse)
                               .then(handleData)
                               .catch(handleError);
    
            function handleResponse(response) {
                return response.json().then(function (json) {
                    return response.ok ? json : Promise.reject(json);
                });
            }
    
            function handleData(data) {
                data = data['data']['Page']['studios']
                console.log(data);
                let div = document.getElementsByClassName('search-dropdown-content studio-search')[0];
                div.replaceChildren();

                for (let i = 0; i < data.length; i++) {
                    let element = document.createElement('button');

                    element.innerHTML = data[i].name;
                    element.addEventListener("click", function () {addToSearchBox('studio-option-search', data[i].name)})

                    div.appendChild(element);
                }

                if (document.getElementById('studio-option-search').value == "") {
                    searchAnime(true);
                }
            }
    
            function handleError(error) {
                alert('Error, check console');
                console.error(error);
            }
        }
    </script>
    <script>
        function getDropDownSearchResults(searchBoxId) {
            console.log(searchBoxId)
            const searchQuery = document.getElementById(searchBoxId).value.toUpperCase();
            let searchList = []
            switch (searchBoxId) {
                case 'genre-option-search':
                    searchList = document.getElementsByClassName('genres-list');
                    break;
                case 'relation-option-search':
                    searchList = document.getElementsByClassName('relation-list');
                    break;
            }
            console.log(searchList)

            for (let i = 0; i < searchList.length; i++) {
                console.log(searchList[i])
                console.log(searchList[i].innerHTML)
                if (searchList[i].innerHTML.toUpperCase().includes(searchQuery)) {
                    searchList[i].style.display = "";
                } else {
                    searchList[i].style.display = "none";
                }
            }
        }

        
        let genreSearchListInclude = []
        let genreSearchListUninclude = []
        let includeRelations = []
        let unincludeRelations = []
        
        function addToSearchList(value, searchListType) {
            switch (searchListType) {
                case "genres":
                    if (genreSearchListUninclude.includes(value)) {
                        return;
                    } else if (genreSearchListInclude.includes(value)) {
                        let button = $(`button:contains(X ${value})`)

                        genreSearchListInclude.splice(genreSearchListInclude.indexOf(value), 1); // 2nd parameter means remove one item only
                        button.remove();

                        div = document.getElementById('current-search-options');

                        let allOptions = document.getElementsByClassName('search-option-item')

                        button = document.createElement('button');
                        button.className = 'search-option-item uninclude-anime';
                        button.innerHTML = `X ${value}`;
                        button.addEventListener("click", function() {
                            deleteOption(value, "genres", "search-option-item uninclude-anime");
                        });
                        //button.onclick = "deleteOption('search-option-item', allOptions.length + 1)";

                        div.appendChild(button);
                        genreSearchListUninclude.push(value);
                    } else {
                        div = document.getElementById('current-search-options');

                        let allOptions = document.getElementsByClassName('search-option-item')
                        
                        let button = document.createElement('button');
                        button.className = 'search-option-item include-anime';
                        button.innerHTML = `X ${value}`;
                        button.addEventListener("click", function() {
                            deleteOption(value, "genres", "search-option-item include-anime");
                        });
                        //button.onclick = "deleteOption('search-option-item', allOptions.length + 1)";

                        div.appendChild(button);
                        genreSearchListInclude.push(value);
                    }
                    break
                case "relations":
                    if (unincludeRelations.includes(value)) {
                        return;
                    } else if (includeRelations.includes(value)) {
                        let button = $(`button:contains(X ${value})`)

                        includeRelations.splice(includeRelations.indexOf(value), 1); // 2nd parameter means remove one item only
                        button.remove();

                        div = document.getElementById('current-search-options');

                        let allOptions = document.getElementsByClassName('search-option-item')

                        button = document.createElement('button');
                        button.className = 'search-option-item uninclude-anime';
                        button.innerHTML = `X ${value}`;
                        button.addEventListener("click", function() {
                            deleteOption(value, "relations", "search-option-item uninclude-anime");
                        });
                        //button.onclick = "deleteOption('search-option-item', allOptions.length + 1)";

                        div.appendChild(button);
                        unincludeRelations.push(value);
                    } else {
                        div = document.getElementById('current-search-options');
                        
                        let allOptions = document.getElementsByClassName('search-option-item')

                        let button = document.createElement('button');
                        button.className = 'search-option-item include-anime';
                        button.innerHTML = `X ${value}`;
                        console.log(allOptions.length)
                        button.addEventListener("click", function() {
                            deleteOption(value, "relations", "search-option-item include-anime");
                        });
                        //button.onclick = "deleteOption('search-option-item', allOptions.length + 1)";

                        div.appendChild(button);
                        includeRelations.push(value);
                    }
                    break
            }
            searchAnime(true);
        }

        function deleteOption(valueToRemove, whatList, includeOrUninclude) {
            let button = $(`button:contains(X ${valueToRemove})`)
            console.log(button)
            switch (whatList) {
                case "relations":
                    switch (includeOrUninclude) {
                        case "search-option-item include-anime":
                            console.log("relations in" + includeRelations.indexOf(valueToRemove))
                            includeRelations.splice(includeRelations.indexOf(valueToRemove), 1); // 2nd parameter means remove one item only
                            break;

                        case "search-option-item uninclude-anime":
                            console.log("relations un" + includeRelations.indexOf(valueToRemove))
                            unincludeRelations.splice(unincludeRelations.indexOf(valueToRemove), 1); // 2nd parameter means remove one item only
                            break;
                    }
                case "genres":
                    switch (includeOrUninclude) {
                        case "search-option-item include-anime":
                            genreSearchListInclude.splice(genreSearchListInclude.indexOf(valueToRemove), 1); // 2nd parameter means remove one item only
                            break;

                        case "search-option-item uninclude-anime":
                            genreSearchListUninclude.splice(genreSearchListUninclude.indexOf(valueToRemove), 1); // 2nd parameter means remove one item only
                            break;
                    }
            }
            button.remove();
            searchAnime(true);
            
        }

        let pageNumber = 1;
        
        

        let rank = 0
        let colour = [239, 93, 96]

        let prevColours = []

        let requestInProcess = false;

        let backedUpRequest = false;
        
        function searchAnime(replaceSearch) {
            let div = document.getElementsByClassName('main-page-grid-container')[0];
            
            if (replaceSearch) {
                div.replaceChildren();
                pageNumber = 1;
                rank = 0
                colour = [239, 93, 96]
            } else {
                pageNumber++;
            }
            if (requestInProcess) {
                if (replaceSearch) {
                    backedUpRequest = true;
                }
                return;
            }
            
            const sortBy = document.getElementById("sort-option-cat").value + document.getElementById("sort-option-order").value;
            
            const dataToSend = {
                search: document.getElementById("search").value,
                popularity_greater: parseInt(document.getElementById("popularity-num-greater").value),
                popularity_lesser: parseInt(document.getElementById("popularity-num-lesser").value),
                format: document.getElementById("format-option").value,
                pageNumber: pageNumber,
                sortBy: sortBy,
                genre_in: JSON.stringify(genreSearchListInclude),
                genre_not_in: JSON.stringify(genreSearchListUninclude),
                includeRelations: JSON.stringify(includeRelations),
                unincludeRelations: JSON.stringify(unincludeRelations),
                averageScore_greater: parseInt(document.getElementById("average-score-num-greater").value),
                averageScore_lesser: parseInt(document.getElementById("average-score-num-lesser").value),
                episodes_greater: parseInt(document.getElementById("episode-count-greater").value),
                episodes_lesser: parseInt(document.getElementById("episode-count-lesser").value),
                source: document.getElementById("media-source-option").value,
                season: document.getElementById("airing-date-season").value,
                studio: document.getElementById('studio-option-search').value,
            }

            let yearGreater = document.getElementById("year-greater").value
            if (yearGreater != "") {
                dataToSend['yearGreater'] = parseInt(yearGreater + "0000")
            }

            let yearLesser = document.getElementById("year-lesser").value
            if (yearLesser != "") {
                dataToSend['yearLesser'] = parseInt(yearLesser + "0000")
            }

            const statusGreaters = document.getElementsByClassName('status-greater');

            const distrabutionStatusGreaterThan = {

            }

            let totalStatusGreaterSearchAmount = 0
            let multiplyStatusGreaterSearchAmountBy = 25

            for (let i = 0; i < 6; i++) {
                console.log(statusGreaters[i]);
                const stat = statusGreaters[i].id.split("-")[2].toUpperCase();
                const value = statusGreaters[i].value;
                if (value) {
                    distrabutionStatusGreaterThan[stat] = parseInt(value);
                    totalStatusGreaterSearchAmount += parseInt(value)
                } else {
                    switch (stat) {
                        case "COMPLETED":
                            multiplyStatusGreaterSearchAmountBy -= 0.06;
                            break;
                        case "CURRENT":
                            multiplyStatusGreaterSearchAmountBy -= 0.06;
                            break;
                        case "PAUSED":
                            multiplyStatusGreaterSearchAmountBy -= 0.16;
                            break;
                        case "DROPPED":
                            multiplyStatusGreaterSearchAmountBy -= 0.16;
                            break;
                        case "PLANNING":
                            multiplyStatusGreaterSearchAmountBy -= 0.16;
                            break;
                        case "REPEATING":
                            multiplyStatusGreaterSearchAmountBy -= 0.4;
                            break;
                    }
                }
            }

            if (totalStatusGreaterSearchAmount > 0) {
                dataToSend['distrabutionStatusGreaterThan'] = JSON.stringify(distrabutionStatusGreaterThan)
            }

            const statusLessers = document.getElementsByClassName('status-lesser');

            const distrabutionStatusLesserThan = {

            }

            let totalStatusLesserSearchAmount = 0
            let multiplyStatusLesserSearchAmountBy = 0

            for (let i = 0; i < 6; i++) {
                const stat = statusLessers[i].id.split("-")[2].toUpperCase();
                const value = statusLessers[i].value;
                if (value) {
                    distrabutionStatusLesserThan[stat] = parseInt(value);
                    totalStatusLesserSearchAmount += parseInt(value)
                    switch (stat) {
                        case "COMPLETED":
                            multiplyStatusLesserSearchAmountBy = 75;
                            break;
                        case "CURRENT":
                            multiplyStatusLesserSearchAmountBy = 75;
                            break;
                        case "PAUSED":
                            multiplyStatusLesserSearchAmountBy = 75;
                            break;
                        case "DROPPED":
                            multiplyStatusLesserSearchAmountBy = 100;
                            break;
                        case "PLANNING":
                            multiplyStatusLesserSearchAmountBy = 100;
                            break;
                        case "REPEATING":
                            multiplyStatusLesserSearchAmountBy = 140;
                            break;
                    }
                }
            }

            if (totalStatusLesserSearchAmount > 0) {
                dataToSend["distrabutionStatusLesserThan"] = JSON.stringify(distrabutionStatusLesserThan)
                if (dataToSend['popularityNumGreater'] == "" && dataToSend['popularityNumLesser'] == "") {
                    dataToSend['popularityNumLesser'] = totalStatusLesserSearchAmount * multiplyStatusLesserSearchAmountBy
                }
            }

            requestInProcess = true;
            
            $.ajax({
                type: 'POST',
                url: '/search_anime',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(dataToSend),
              
                success: function(result){
                    console.log("requested")
                    if (backedUpRequest) {
                        requestInProcess = false;
                        backedUpRequest = false;
                        searchAnime(true);
                        return;
                    }
                    console.log(result)
                    pageNumber = result['page']
                    result = result['media_list']
                    
                    console.log(result)
                    hexCodesUsed = []
                    for (let i = 0; i < result.length; i++) {
                        
                        rank++
                        let ranking = rank;

                        //let classes = document.getElementsByClassName('item'); 
                        //let endpoint = classes[classes.length - 1];
                        let element = document.createElement('div');
                        let title = '';
                        element.className = 'anime search-item';

                        if (result[i].title.english !== null) {
                            title = result[i].title.english;
                        } else if (result[i].title.romaji !== null) {
                            title = result[i].title.romaji;
                        } else {
                            title = result[i].title.native;
                            console.log(result[i].title)
                        }

                        element.addEventListener("onload", function() {replaceLoadingClass(rank - 1)});

                        `if (result[i].rankings.length > 0) {
                            if (sortBy.includes('POPULARITY')) {
                                if  (result[i].rankings.length > 1 && 'allTime' in result[i].rankings[1] && result[i].rankings[1].allTime) {
                                    ranking = result[i].rankings[1].rank
                                } else {
                                    ranking = null
                                }
                            }
                            else if (sortBy.includes('SCORE')) {
                                if  ('allTime' in result[i].rankings[0] && result[i].rankings[0].allTime) {
                                    ranking = result[i].rankings[0].rank
                                } else {
                                    ranking = null
                                }
                            }
                        } else {
                            ranking = null
                        }`

                        let popUpStuff = document.createElement('div');
                        popUpStuff.className = 'pop-up-information';
                        popUpStuff.innerHTML = `<p>${title}</p>
                                                <p>Popularity: ${result[i].popularity}</p>
                                                <p>Score: ${result[i].averageScore}%</p>
                                                <p>Favourites: ${result[i].favourites}</p>
                                                <p>${result[i].format} ${result[i].episodes} Episodes</p>
                                                <a href='anime_info/${result[i].id}' target="_blank"> View More</a>`
                        
                        let rank_number = document.createElement('div');
                        rank_number.className = 'rank_number';
                        rank_number.innerHTML = ranking
                        rank_number.style.backgroundColor = `rgb(${colour[0]}, ${colour[1]}, ${colour[2]})`;

                        if (ranking < 1000) {
                            rank_number.style.width = "1.5em";
                            rank_number.style.height = "1.5em";
                        } else {
                            rank_number.style.width = "2em";
                            rank_number.style.height = "2em";
                        }

                        element.appendChild(rank_number);

                        let animeImageLink = document.createElement('a');
                        animeImageLink.innerHTML = `<img src="${result[i].coverImage.large}">`;
                        animeImageLink.href = `anime_info/${result[i].id}`
                        animeImageLink.target = "_blank"
                        element.appendChild(animeImageLink);
                        
                        let p = document.createElement('p');
                        p.innerHTML = title;
                        element.appendChild(p);

                        let container = document.createElement('div');
                        container.className = 'anime-container';

                        container.appendChild(element);
                        
                        container.appendChild(popUpStuff);

                        div.appendChild(container);

                        let colourIndex = Math.floor((Math.random() * 3))

                        colour[colourIndex] += 4

                        if (colour[colourIndex] > 254) {
                            colour[colourIndex] = 0
                        }

                    }
                    
                    requestInProcess = false;
                    
                }
              });
        }

        function replaceLoadingClass(index) {
            console.log(document.getElementsByClassName('item anime'))
            document.getElementsByClassName('item anime')[index].classList.remove('image-loading');
        }

        document.addEventListener('DOMContentLoaded', function() {
            getSearchInfo(true);
        }, false);

        $(window).scroll(function () {
           if ($(window).scrollTop() >= $(document).height() - $(window).height() - 175) {
               getSearchInfo(false);
           }
        });
    </script>
{% endblock %}